.odBG {
    padding-top: 1em;
}

.od-bg-box {
    height: 325px;
}

.od-bg-img {
    min-width: 100vw;
    object-fit: cover;
    object-position: 0 -40vh;
}

.odTitleBox {
    background-color: white;
    width: 60%;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 2rem 5rem;
    flex-wrap: wrap;
}

.odtitle {
    font-size: 2.25em;
    letter-spacing: .175em;
    margin: 3% 5% 3% 5%;
    line-height: 1.2em;
}

.oddescbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
    width: 95%;
    max-width: 650px;
    min-width: 425px;
    margin: 0 0 0 5rem;
    padding: 0 0 1em 0;
}

.oddesc {
    font-weight: 600;
    font-size: 1em;
    letter-spacing: .075em;
    padding: 0rem 5% .25rem 5%;
}

.odPage {
    display: flex;
    justify-content: center;
    margin: 5em 5% 10em 5%;
}

.odImg {
    margin: 2em 0 0 0;
}

.oddesc {
    font-size: 16px;
    margin: 1.5em 0 0 0;
}

.odName {
    margin-top: 1em;
    font-weight: 900;
    font-size: 1.75em;
    letter-spacing: .075em;
}

.odFooter {
    margin: 2em 0 0 0;
    font-size: 11px;
}

.clickEnlarge {
    cursor: pointer;
}

body.modal-open {
    height: 100vh;
    overflow-y: hidden;
    padding-right: 15px;
}

.modal-backdrop {
    opacity: .8 !important;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .2s ease all !important;
    -o-transition: -o-transform .2s ease all !important;
    transition: transform .2s ease all !important;
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
    transition-duration: 2 !important;
    max-width: 120vmin;
    padding-left: 1em;
}

.modal-content {
    background: none !important;
}

.modal-body {
    text-align: center;
    padding: 0 !important;
}

.close {
    position: fixed;
    right: 0;
    top: 0;
    cursor: pointer;
    color: white !important;
    text-align: center;
    border: 1px dotted white;
    width: .85em;
    height: .85em;
    font-size: 2em !important;
    z-index: 1;
}

.close span {
    position: relative;
    bottom: .25em;
}

.close:hover {
    border: 1px dotted transparent !important;
}

@media screen and (max-width: 768px) {

    .od-bg-box {
        height: 25%;
    }

    odtitlebox {
        margin: 3% 0 3% 3%;
    }

    oddescbox {
        margin: 3% 0 3% 3%;
    }

    .odPage {
        margin: 5% 3% 5% 3%;
    }

    .odImg {
        margin: 10% 0 0 0;
    }

    .odFooter {
        padding-bottom: 5%;
    }

}