html {
    scroll-behavior: smooth;
}

.servicesBG {
    padding-top: 1em;
}

.services-bg-box {
    background-attachment: fixed;
    height: 315px;
    margin-bottom: 5em;
}

.services-bg-img {
    min-width: 100vmax;
    object-fit: contain;
    object-position: 0 -20em;
}

.servicesTitleBox {
    background-color: white;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 2rem 5rem;
    flex-wrap: wrap;
}

.servicesTitle {
    font-size: 2.25em;
    letter-spacing: .175em;
    text-align: center;
}

.servicesDescBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
    width: 60%;
    max-width: 625px;
    min-width: 425px;
    margin: 0 0 0 5rem;
    padding: 1em 0 1em 0;
}

.serviceDesc {
    font-weight: 600;
    font-size: 1em;
    letter-spacing: .075em;
    padding: .25rem 0 .25rem 1rem;
}

.servicesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicesRow {
    max-width: 1000px;
    text-align: center;
    margin: 0 5% 0 5%;
}

.servicesDesc {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .05em;
    padding: 1em 0 1.5em 0;
}

.businessCardSite {
    font-size: 18px;
    padding: 1em 0 .5em 0;
}

.businessCardNumber {
    font-size: 20px;
    font-weight: 600;
    padding: .25em 0 2em 0;
}

.imageRow {
    max-width: 1000px;
    margin: 3em 5% 7em 5%;
}

@media screen and (max-width: 1024px) {

    .services-bg-box {
        margin-bottom: 5%;
    }

}

@media screen and (max-width: 768px) {

    .services-bg-box {
        margin-bottom: 3%;
    }

    servicestitlebox {
        margin: 3% 0 3% 3%;
    }

    servicesdescbox {
        margin: 3% 0 3% 3%;
    }

    .servicesRow {
        margin: 0 5% 0 5%;
    }

    .imageRow {
        margin: 0 5% 10% 5%;
    }

}

@media screen and (max-width: 500px) {

    .imageRow {
        margin: 0 3% 5% 3%;
    }

}