.sideNav {
    position: fixed;
    display: inline-block;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.sideNav li {
    list-style-type: none;
}

.sideLNY {
    top: .385em;
}

.sideWBG {
    top: 3em;
}

.sideLOC {
    top: 5.65em;
}

.hidden {
    visibility: hidden;
    position: absolute;
    right: 0;
    margin-right: 10px;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: .1em;
    transition: all .3s;
}

.dropDownLNY:hover .sideLNY {
    visibility: visible;
    width: 150px;
    opacity: 1;
}

span.sideLNY {
    width: 130px;
    opacity: 0;
}

.dropDownWBG:hover .sideWBG {
    visibility: visible;
    width: 375px;
    opacity: 1;
}

span.sideWBG {
    width: 355px;
    opacity: 0;
}

.dropDownLOC:hover .sideLOC {
    visibility: visible;
    width: 240px;
    opacity: 1;
}

span.sideLOC {
    width: 220px;
    opacity: 0;
}

.dot.whiteDot {
    background-color: white;
    outline: .2em solid white;
}

.dropItem.whiteText,
.dropItem:hover.whiteText {
    color: white;
}

.dropItem.blackText,
.dropItem:hover.blackText {
    color: black;
}

.dropItem,
.dropItem:hover,
.dropItem:focus,
.dropItem:active {
    text-decoration: none;
    color: inherit;
}

.dot {
    cursor: pointer;
    margin: .5rem .2rem .5rem 0;
    display: block;
    height: .7em;
    width: .7em;
    border-radius: 50%;
    color: initial;
    outline: 2px solid black;
    background-color: black;
    transition: .3s ease all;
}

.active {
    background-color: transparent !important;
}

.home-top-bg {
    height: 700px;
}

.home-topimg {
    min-width: 100vmax;
    min-height: 100vh;
    object-fit: cover;
    object-position: 0 -9em;
}

.MSRow {
    margin: 0 3% 0 3%;
    padding-bottom: 1em;
}

#WhyBuyGlasses {
    padding-top: 5em;
}

.home-mid-bg {
    height: 525px;
}

.home-midimg {
    min-width: 100vmax;
    object-fit: cover;
}

.WbgRow {
    margin: 0 3% 0 3%;
    padding-bottom: 1em;
}

.WbgSub {
    height: 150% !important;
    object-fit: cover;
}

.home-bot-bg {
    height: 525px;
}

.home-botimg {
    min-width: 100vmax;
    object-fit: cover;
}

#LocationContact {
    padding-top: 5em;
}

.LocRow {
    margin: 0 3% 0 3%;
    padding-bottom: 1em;
}

.LocSub {
    padding: 3% 0 0 0;
}

.locationCoord {
    color: black;
}

.locationCoord:hover {
    color: black;
}

.clickEnlarge {
    cursor: pointer;
}

body.modal-open {
    height: 100vh;
    overflow-y: hidden;
    padding-right: 15px;
}

.modal-backdrop {
    opacity: .8 !important;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .2s ease all !important;
    -o-transition: -o-transform .2s ease all !important;
    transition: transform .2s ease all !important;
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
    transition-duration: 2 !important;
    max-width: 120vmin;
    padding-left: 1em;
}

.modal-content {
    background: none !important;
}

.modal-body {
    text-align: center;
    padding: 0 !important;
}

.close {
    position: fixed;
    right: 0;
    top: 0;
    cursor: pointer;
    color: white !important;
    text-align: center;
    border: 1px dotted white;
    width: .85em;
    height: .85em;
    font-size: 2em !important;
    z-index: 1;
}

.close span {
    position: relative;
    bottom: .25em;
}

.close:hover {
    border: 1px dotted transparent !important;
}

.topIconBtn {
    background-color: white;
    width: 75px;
    text-align: center;
    font-size: 1.25rem;
    border-radius: 0 0 50px 50px;
    cursor: pointer;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50%;
    z-index: 1;
}

.topBtn {
    background-color: white;
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0 0 50px 50px;
    cursor: pointer;
}

.btnText {
    color: black;
    font-size: .45em;
    font-weight: 700;
    letter-spacing: .2em;
    padding: .3em 0 0 .2em;
}

.btnBg {
    background-color: #191818;
}

@media screen and (max-width: 1024px) {

    .sideNav {
        visibility: hidden;
    }

}

@media screen and (max-width: 768px) {

    .home-top-bg {
        margin-bottom: 3%;
    }

    .MSmain {
        width: 100%;
        padding: 1em 0 2em 0;
    }

    .MSsub {
        width: 100%;
        padding-bottom: 2em;
    }

    #WhyBuyGlasses {
        padding-top: 3%;
    }

    .WbgSub {
        height: 115% !important;
        padding: 2em 0 2em 0;
    }

    .WbgRowDesc {
        margin-top: 2em;
    }

    #LocationContact {
        padding-top: 3%;
    }

}

@media screen and (max-width: 500px) {
    body {
        position: fixed;
    }
}