.contactBG {
    padding-top: 1em;
}

.contact-bg-box {
    height: 400px;
}

.contact-bg-img {
    height: 1100px;
    object-fit: cover;
    object-position: 0 -19em;
    filter: brightness(110%);
}

contacttitlebox {
    background-color: white;
    width: 75%;
    max-width: 725px;
    min-width: 425px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 2rem 5rem;
    flex-wrap: wrap;
}

contacttitle {
    font-size: 2.25em;
    letter-spacing: .175em;
    margin: 3% 5% 3% 5%;
    line-height: 1.2em;
}

contactdescbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
    width: 75%;
    max-width: 625px;
    min-width: 425px;
    margin: 0 0 0 5rem;
    padding: 1em 0 1em 0;
}

location {
    font-weight: 600;
    font-size: 1em;
    letter-spacing: .075em;
    padding: .25rem 5% .25rem 5%;
}

.googleMap {
    height: 50vh;
    margin: 1em 0 2em 0;
}

.contactPage {
    display: flex;
    justify-content: center;
    margin: 5em 0 6em 0;
}

.contactRow {
    width: 1000px;
}

.pbTitle {
    font-size: 1.75em;
    font-weight: 900;
}

.contdesc {
    font-size: 14px;
    margin: 1.5em 0 0 0;
}

.locLink {
    text-decoration: none;
    color: black;
}

.locLink:hover {
    color: black;
    opacity: .7;
}

.formLineBreak {
    margin: 3em 0 0 0;
}

@media screen and (max-width: 1024px) {

    contacttitlebox {
        margin: 5% 5% 5% 5%;
    }

    contactdescbox {
        margin: 5% 5% 5% 5%;
    }

    .contactPage {
        margin: 10% 10% 10% 10%;
    }

    .contact-img {
        height: 250px;
        object-fit: cover;
        object-position: 0 -7.5em;
    }

}

@media screen and (max-width: 768px) {

    .contactPage {
        margin: 10% 3% 5% 3%;
    }

    .contactdesc {
        margin: 0 0 7% 0;
    }

}

@media screen and (max-width: 500px) {}