aside {
    position: fixed;
    display: inline-block;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.dot.whiteDot {
    background-color: white;
    outline: .2em solid white;
}

.dropItem.whiteText,
.dropItem:hover.whiteText {
    color: white;
}

.dropItem.blackText,
.dropItem:hover.blackText {
    color: black;
}

.dropItem,
.dropItem:hover,
.dropItem:focus,
.dropItem:active {
    text-decoration: none;
    color: inherit;
}

aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
    margin: 0;
    z-index: 1;
}

.dot {
    cursor: pointer;
    margin: .75rem .2rem .75rem 0;
    display: block;
    height: .7em;
    width: .7em;
    border-radius: 50%;
    color: initial;
    outline: 2px solid black;
    background-color: black;
}

.LNYside {
    text-decoration: none;
    position: absolute;
    top: 9px;
    right: 0;
    width: 500px;
    text-align: right;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: .25em;
    margin-right: 50%;
    display: none;
}

.WBGside {
    text-decoration: none;
    position: absolute;
    top: 43px;
    right: 0;
    width: 500px;
    text-align: right;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: .25em;
    margin-right: 50%;
    display: none;
}

.LOCside {
    text-decoration: none;
    position: absolute;
    top: 77px;
    right: 0;
    width: 500px;
    text-align: right;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: .25em;
    margin-right: 50%;
    display: none;
}

.active {
    background-color: transparent !important;
}

.dropDownLNY:hover .LNYside {
    display: block;
    z-index: 1;
}

.dropDownWBG:hover .WBGside {
    display: block;
    z-index: 1;
}

.dropDownLOC:hover .LOCside {
    display: block;
    z-index: 1;
}

#LNYoptometry {
    padding-top: 2em;
}

.home-top-bg {
    height: 750px;
}

.home-topimg {
    height: 1100px;
    object-fit: cover;
    object-position: 0 -8em;
}

.MSRow {
    max-width: 1000px;
    padding-bottom: 1em;
}

.MSmain {
    padding-right: .8em;
}

.MSsub {
    padding-right: .8em;
}

#WhyBuyGlasses {
    padding-top: 5em;
}

.home-mid-bg {
    height: 575px;
    width: auto;
    margin: 0;
}

.home-midimg {
    height: 1100px;
    object-fit: cover;
    object-position: 0 -5em;
}

.WbgRow {
    max-width: 1000px;
    padding-bottom: 1em;
}

.WbgSub {
    height: 150%;
    object-fit: cover;
}

.home-bot-bg {
    height: 575px;
    width: auto;
    margin: 0;
}

.home-botimg {
    height: 1100px;
    object-fit: cover;
    object-position: 0 -5em;
}

#LocationContact {
    padding-top: 5em;
}

.LocRow {
    max-width: 1000px;
    padding-bottom: 1em;
}

.LocSub {
    padding: 3% 0 0 0;
}

.locationCoord {
    color: black;
}

.locationCoord:hover {
    color: black;
}

@media screen and (max-width: 1024px) {

    aside {
        visibility: hidden;
    }

}

@media screen and (max-width: 768px) {

    .MSmain {
        width: 100%;
        padding: 1em 0 2em 0;
    }

    .MSsub {
        width: 100%;
        padding-bottom: 2em;
    }

    #WhyBuyGlasses {
        padding-top: 3%;
    }

    .WbgSub {
        height: 275px;
        width: 100%;
        padding-bottom: 2em;
    }

    #LocationContact {
        padding-top: 3%;
    }

}

@media screen and (max-width: 500px) {

    .WbgSub {
        height: 225px;
        width: 100%;
    }

}