aside {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.subRight li.whiteText a {
    color: white !important;
}

.subRight li.blackText a {
    color: black;
}

.subRight li.whiteDot a {
    background-color: white !important;
    outline: .2em solid white !important;
}

.subRight li.blackDot a {
    background-color: black;
    outline: .2em solid black;
}

aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.dot {
    cursor: pointer;
    margin-top: 1rem;
    display: block;
    height: .75em;
    width: .75em;
    border-radius: 50%;
}

.LNYside {
    text-decoration: none;
    position: absolute;
    top: 17%;
    right: 0;
    width: 500px;
    text-align: right;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: .25em;
    margin-right: 50%;
}

.WBGside {
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 0;
    width: 500px;
    text-align: right;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: .25em;
    margin-right: 50%;
}

.LOCside {
    text-decoration: none;
    position: absolute;
    top: 84%;
    right: 0;
    width: 500px;
    text-align: right;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: .25em;
    margin-right: 50%;
}

aside ul li:hover span {
    display: block;
}

aside ul li .active {
    background-color: transparent !important;
}

.home-top-bg {
    height: 750px;
}

.home-topimg {
    height: 1100px;
    object-fit: cover;
    object-position: 0 -8em;
}

.MSRow {
    max-width: 1000px;
    padding-bottom: 1em;
}

.MSmain {
    padding-right: .8em;
}

.MSsub {
    padding-right: .8em;
}

.home-mid-bg {
    height: 575px;
    width: auto;
    margin: 0;
}

.home-midimg {
    height: 1100px;
    object-fit: cover;
    object-position: 0 -5em;
}

.WbgRow {
    max-width: 1000px;
    padding-bottom: 1em;
}

.WbgSub {
    height: 150%;
    object-fit: cover;
}

.home-bot-bg {
    height: 575px;
    width: auto;
    margin: 0;
}

.home-botimg {
    height: 1100px;
    object-fit: cover;
    object-position: 0 -5em;
}

.LocRow {
    max-width: 1000px;
    padding-bottom: 1em;
}

.LocSub {
    padding: 3% 0 0 0;
}

.locationCoord {
    color: black;
}

.locationCoord:hover {
    color: black;
}

@media screen and (max-width: 1024px) {

    aside {
        visibility: hidden;
    }

}

@media screen and (max-width: 768px) {

    .MSmain {
        width: 100%;
        padding: 1em 0 2em 0;
    }

    .MSsub {
        width: 100%;
        padding-bottom: 2em;
    }

    .WbgSub {
        height: 275px;
        width: 100%;
        padding-bottom: 2em;
    }

}

@media screen and (max-width: 500px) {

    .WbgSub {
        height: 225px;
        width: 100%;
    }

}