.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 .75em 0;
}

.navbar-brand {
    width: 40%;
    margin: .75em 0 0 5%;
}

.nav-item {
    flex-wrap: wrap;
    align-items: center;
}

.nav-item a:hover {
    text-decoration: none;
    color: black;
    opacity: .7;
}

.fa {
    transform: scale(1.35, 1);
    margin: 0 1.5em 3em 0;
}

.custom-toggler,
.navbar-toggler-icon,
.custom-toggler:focus,
.custom-toggler:active,
.custom-toggler-icon:focus {
    background-image: none;
    border: none;
    outline: none;
    box-shadow: none;
    width: 0;
    height: auto;
    font-size: 1em;
}

.offcanvas {
    width: 80%;
}

@media screen and (max-width: 768px) {

    hr {
        width: 100%;
        opacity: .075;
    }

    .nav-item {
        align-items: center;
    }

}