.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar-brand {
    margin: .75em 15% 0 5%;
}

.nav-item {
    flex-wrap: wrap;
    justify-content: end;
    flex-grow: 1;
    align-items: center;
    margin: 1em 5% 0 5%;
}

.nav-item a:hover {
    text-decoration: none;
    color: black;
    opacity: .7;
}

.fa {
    transform: scale(1.25, .9);
    margin: 0 1em 4em 0;
}

.custom-toggler,
.navbar-toggler-icon,
.custom-toggler:focus,
.custom-toggler:active,
.custom-toggler-icon:focus {
    background-image: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    width: 0 !important;
    height: 0 !important;
}

.offcanvas {
    width: 80%;
}

@media screen and (max-width: 768px) {

    hr {
        width: 100%;
        opacity: .075;
    }

    .nav-item {
        align-items: center;
    }

}