.footerLNY {
    background-color: #191818;
}

.footerContainer {
    padding: 5em 0 5em 0;
    overflow-x: hidden;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50%;
    z-index: 1;
}

.topBtn {
    background-color: white;
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0 0 50px 50px;
    cursor: pointer;
}

.btnText {
    color: black;
    font-size: .45em;
    font-weight: 700;
    letter-spacing: .2em;
    padding: .3em 0 0 .2em;
}

.footerDescCol {
    padding-left: 20% !important;
}

.footerLink {
    color: white;
    font-weight: 600;
    font-size: 14px;
}

li {
    font-size: 10px;
    padding: .3em 0 0 0;
}

ul li:hover a {
    color: white;
}

@media screen and (max-width: 1024px) {

    .footerContainer {
        padding: 5% 0 5% 0;
    }

    .footerDescCol {
        padding-left: 15% !important;
    }

}

@media screen and (max-width: 768px) {

    .footerDescCol {
        padding: 3% 0 2em 7.5% !important;
    }

    .footerLinkCol {
        padding: 3% 0 5% 10% !important;
    }

}