.poBG {
    padding-top: 1em;
}

.po-bg-box {
    height: 350px;
}

.po-bg-img {
    min-width: 100vmax;
    object-fit: cover;
    object-position: 0 -19em;
}

.poTitleBox {
    background-color: white;
    width: 60%;
    max-width: 500px;
    min-width: 425px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 2rem 5rem;
    flex-wrap: wrap;
}

.poTitle {
    font-size: 2.25em;
    letter-spacing: .175em;
    margin: 3% 5% 3% 5%;
    line-height: 1.2em;
}

.poDescBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
    width: 60%;
    max-width: 625px;
    min-width: 425px;
    margin: 0 0 0 5rem;
    padding: 1em 0 1em 0;
}

.payOptions {
    font-weight: 600;
    font-size: 1em;
    letter-spacing: .075em;
    padding: .25rem 5% .25rem 5%;
}

.poPage {
    display: flex;
    justify-content: center;
    margin: 6em 0 5em 0;
}

.poImgBox {
    margin: 2em 0 1em 0;
}

.po-img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

.podesc {
    padding: 1em 0 1em 0;
}

.poLink {
    text-decoration: none;
    color: black;
}

.poLink:hover {
    color: black;
    opacity: .7;
}

.clickEnlarge {
    cursor: pointer;
}

body.modal-open {
    height: 100vh;
    overflow-y: hidden;
    padding-right: 15px;
}

.modal-backdrop {
    opacity: .8 !important;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .2s ease all !important;
    -o-transition: -o-transform .2s ease all !important;
    transition: transform .2s ease all !important;
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
    transition-duration: 2 !important;
    max-width: 120vmin;
    padding-left: 1em;
}

.modal-content {
    background: none !important;
}

.modal-body {
    text-align: center;
    padding: 0 !important;
}

.close {
    position: fixed;
    right: 0;
    top: 0;
    cursor: pointer;
    color: white !important;
    text-align: center;
    border: 1px dotted white;
    width: .85em;
    height: .85em;
    font-size: 2em !important;
    z-index: 1;
}

.close span {
    position: relative;
    bottom: .25em;
}

.close:hover {
    border: 1px dotted transparent !important;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {

    potitlebox {
        margin: 3% 0 3% 3%;
    }

    podescbox {
        margin: 3% 0 3% 3%;
    }

}

@media screen and (max-width: 500px) {}