body {
  margin: 0;
  font-family: 'Commissioner', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topIconBtn {
  background-color: white;
  width: 75px;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0 0 50px 50px;
  cursor: pointer;
}